.App {
    background-color: rgb(45, 50, 80);
    text-align: center;
    color: rgb(246, 177, 122);
}

.RemoteCarRental{
    border: solid 0px rgb(247, 215, 215);
}

.RemoteCarRental Button{
    color: rgb(45, 50, 80);
    background-color: rgb(246, 177, 122);
    border-radius: 20px;
}

.RemoteCarRental h1{
    color: rgb(246, 177, 122);
}

.Banner img {
    max-width: 250px;
    position: relative;
    margin: auto;
    margin-top: 100px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.AvailableCarsHeading h1 {
    color: rgb(246, 177, 122);
}